body {
    font-family: 'Arial, sans-serif';
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    text-align: center;
}

.balance-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#addBtn {
    width: 75%;
    margin-left: 50px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: none;
}

#expenseList li {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    list-style: none;
}